*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-image: url('./img/wall.png');
}

img{
    max-width: 100%;
}

h1{
    padding: 1rem;
    font-size: 4rem;
    text-align: center;
    font-family: "Edu TAS Beginner", serif;
}

main{
    font-family: "Sometype Mono", monospace;

    .container{
        max-width: 900px;
    }
}

.card img{
    width: 200px;
    height: 200px;
}